<%= render 'layouts/header', title: 'Profile' %>

<main class="container p-2">
  <div class="row">
    <div class="col-10">
      <h2>Update profile</h2>
    </div>
  </div>

  <div class="row">
    <%= form_with model: @user do |form| %>
      <div class="mb-3">
        <%= form.label :avatar, class: "form-label" %><br />
        <%= form.file_field :avatar %>
      </div>
      <div class="mb-3">
        <%= form.label :email, class: "form-label" %><br />
        <%= form.email_field:email %>
      </div>
      <div class="mb-3">
        <%= form.label :first_name, class: "form-label" %><br />
        <%= form.text_field :first_name %>
      </div>
      <div class="mb-3">
        <%= form.label :last_name, class: "form-label" %><br />
        <%= form.text_field :last_name %>
      </div>
      <div class="actions mb-3">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</main>
